*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}


.secendary_nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
    background-color: rgb(50, 83, 128);
    color: rgb(243, 239, 232);
}

.secendary_nav a{
    color: aliceblue;

}



.main_nav {
    display: flex;
    justify-content: space-between;
}
.main_nav .logo_bar{
    margin-top: 20px;
}
.main_nav .logo_bar img{
    width: 60px;
    margin-top: 10px;
    margin-left: 60px;
}
.main_nav .logo_bar h1{
    display: inline-block;
    position: absolute;
    color: rgb(30, 71, 133);
    font-size: 36px;
    margin-top: 13.5px;
    margin-left: 10px;
}

.main_nav .link_bar{
    /* border: 1px solid black; */
    padding: 17px 20px  20px 0px;
    margin-top: 26px;
}
.main_nav .link_bar a{
    padding: 0px 19px 0px 0px;
    text-decoration: none;
    color: rgb(72, 72, 72);
   font-size: 16px;
    
}
.main_nav .link_bar a:hover{
    color: rgb(75, 135, 247);
    transition: .2s linear;
    transform: scale(1.09,1.09);
}
.main_nav .link_bar h2 .special{
    padding: 9px 19px 9px 19px;
    margin-right: 10px;
    /* border: 1px solid black; */
    background-color: rgb(233, 85, 31);
    /* background-color: rgb(3, 103, 209); */
    color: whitesmoke;
    font-weight: 100;
    border-radius: 7px;
}


header{
    display: flex;
    justify-content: space-between;
}
header .heading{
    color: rgb(8, 85, 136);
    font-size: 12.5px; 
    margin-top: 30px;
    margin-left: 63px;
    font-family: 'Fredoka', sans-serif;
}
header .header_link{
    /* border: 1px solid black; */
    margin-top: 35px;
    margin-right: 30px;
}
header .header_link a{
    text-decoration: none;
    color: rgb(74, 71, 117);
    padding: 5px;
    

}

.container_1{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    color: whitesmoke;
    margin-top: 50px;
}
.container_1 .notification_box{
  /* border: 1px solid black; */
  border-radius: 7px;
  width: 88px;
  height: 120px;
  margin-left: 50px;

}
.container_1 .notification_box .part_1{
   background-color: rgb(9, 80, 155);
   height: 60%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
  
}
.container_1 .notification_box .part_1 p{
  
}

.container_1 .notification_box .part_2{
    background-color: rgb(245, 82, 22);
    height: 40%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.container_1 img{
    width: 1000px;
    height: 440px;
    border-radius: 5px;
}


.description{
    width: 1000px;
    /* border: 1px solid black; */
    margin-left: 280px;
    margin-top: 10px;
}
.description h2{
    color: rgb(9, 52, 109);
}
.description p{
    color: rgb(82, 80, 80);
    line-height: 25px;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-top: 10px;
}
.description .description_link{
    margin-top: 8px;
}
.description .description_link i{
    padding-right: 10px;
    color: grey;
}
.description .description_link a{
    text-decoration: none;
    margin: 30px 0px 0px 0px;
    color: rgb(100, 99, 99);
}



.page_link{
    /* border: 1px solid black; */
    width: 240px;
    height: 55px;
    margin-left: 75%;
    margin-bottom: 50px;
    display: flex;

}
.link_text{
    width: 50%;
    padding-top:14px ;
    padding-left: 15px;
    font-family: 'Dancing Script', cursive;
    color: rgb(148, 147, 147);
}
.page_links{
    /* border: 1px solid red; */
    display: flex;
    width: 50%;

}
.page_1{
    width: 50%;
    height: 100%;
    background-color: rgb(33, 95, 161);
    border-radius: 7px;
    color: white;
    margin-right: 2.5px;
   
}
.page_2{
    width: 50%;
    height: 100%;
    background-color: rgb(240, 96, 44);
    border-radius: 7px;
    color: white;
    margin-left: 2.5px;
}
.page_1:hover{
    background-color: rgb(35, 120, 248);
    transition: .2s linear;
    /* transform: scale(1.05,1.05); */
}
.page_2:hover{
    background-color: rgb(255, 68, 0);
    transition: .2s linear;
    transform: scale(1.05,1.05);
}
.page_1,.page_2, a{
    text-decoration: none;
    color: white;
    display: inline-block;
}


.bottom_links{
    margin-left: 100px;
    
}
.bottom_links a{
    color: rgb(95, 93, 93);
    padding: 5px;
}
.bottom_links a:hover{
    color: rgb(15, 103, 235);
}



.container_2{
    /* border: 1px solid black; */
    width: 95%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container_2 h2{
    color: rgb(9, 71, 153);
    font-size: 24px;
    margin-top: 7px;
}
.content_1{
    width: 55%;
    height: 100%;
    /* border: 1px solid rgb(201, 17, 17); */
}
.content_1 img{
  position: relative;
  top: 35px;
}
.content_1 p{
    display: inline-block;
    width: 87%;
    position: relative;
    top: 25px;
    left: 10px;
    line-height: 29px;
    word-spacing: 3px;
    letter-spacing: ;
    color: rgb(58, 57, 57);
}
.content_2{
    width: 20%;
    /* border: 1px solid rgb(216, 24, 24); */
    height: 100%;
}
.content_2 ul{
    margin-top: 30px;
}
.content_2 li{
    list-style-type: none;
    padding: 5px;
    color: rgb(65, 63, 63);
}
.content_2 i{
    padding: 5px;
    color: rgb(117, 117, 117);
    
}
.content_3{
    width: 20%;
    /* border: 1px solid rgb(230, 36, 36); */
    height: 100%;
}
.content_3 .social_icons{
    margin-top: 20px;
}
.content_3 i{
    padding: 20px;
    color: rgb(80, 77, 77);
    font-size: 18px;
}
.content_3 p{
    color: rgb(37, 37, 37);
    margin-left: 18px;
    margin-top: 7px;
    font-size: 17px;
}


footer{
    display: flex;
    height: 70px;
    background-color: rgb(55, 86, 133);
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}
.foot_text{
    color: aliceblue;
    margin-left: 50px;
}

.foot_links{
    margin-right: 50px;
}
.foot_links a{
    color: white;
    padding: 5px;
}
